<div{{ attributes }}>
    
    
  
  <div class="row profile">
    <aside class="col-sm-4 pull-right">
      <div class="box">
        
        <div class="profile-photo">
        {{ content.field_image }}
        </div>
        
        <h1>{{ label }}</h1>
        <h2 class="segment">
          {{ content.field_industry_segment[0]['#title'] }}{% for key, value in content.field_industry_segment %}{% if key > 0 %}, {{ content.field_industry_segment[key]['#title'] }}{% endif %}
          {% endfor %}
        </h2>
        <div class="location">{{ content.field_headquarters_location.0.locality['#value'] }}, {{ content.field_headquarters_location.0.administrative_area['#value'] }}, {{ content.field_headquarters_location.0.country['#value'] }}</div>
        
        <p>
       <a href="{{ content.field_linkedin[0]['#url'] }}" target="_blank" class="btn btn-blank"><span class="icon"><i class="fab fa-linkedin"></i></span> <span class="text">LinkedIn </span></a> <a href="{{ content.field_website[0]['#url'] }}" target="_blank" class="btn btn-blank"><span class="icon"><i class="fas fa-globe"></i></span> <span class="text">Website </span></a></p>
        </ul>
        <a href="/group//join" class="btn btn-primary btn-block">Join</a>
        
      </div>
      <div class="box">
        {{ drupal_view('group_members', 'block_1') }}
      </div>
      
    </aside>
    <article{{ attributes.addClass('col-sm-8') }}>
      <div class="box">
        <h2>Description </h2>
        <div class="description">
        {{ content.field_description }}
        </div>
 
        {% if content.field_resources[0] %}
          
          <div class="links">
              <h3>Resources</h3>
              <ul>
              {% for key,item in content.field_resources if key|first != '#' %}    
                <li class="link"><strong>{{ link(item['#title'], item['#url'].uri) }}</strong><br>
                <span class="smalltext">({{ link(item['#url'].uri, item['#url'].uri) }})</span></li>
              {% endfor %}
              </ul>
          </div>
        {% endif %}
        
      </div>
    </article>
  </div>

</div>
