{# New variables (Mike: erase this note if you want...)
 *
 *  Three variables set in preprocess to provide links.
 *  {{ dd(group_links) }}
 *  These are all urls: If the url is there, show the button with that url.
 #}

<div class="container">
    
    
  
  <div class="row profile">
    <aside class="col-sm-4 pull-right">
      <div class="box">
        
        <div class="profile-photo">
        {{ content.field_image }}
        </div>
        
        <h1>{{ label }}</h1>
        <h2 class="segment">
          {{ content.field_industry_segment[0]['#title'] }}{% for key, value in content.field_industry_segment %}{% if key > 0 %}, {{ content.field_industry_segment[key]['#title'] }}{% endif %}
          {% endfor %}
        </h2>
        <div class="location">{{ content.field_headquarters_location.0.locality['#value'] }}, {{ content.field_headquarters_location.0.administrative_area['#value'] }}, {{ content.field_headquarters_location.0.country['#value'] }}</div>
        
        <p>
       <a href="{{ content.field_linkedin[0]['#url'] }}" target="_blank" class="btn btn-blank"><span class="icon"><i class="fab fa-linkedin"></i></span> <span class="text">LinkedIn </span></a> <a href="{{ content.field_website[0]['#url'] }}" target="_blank" class="btn btn-blank"><span class="icon"><i class="fas fa-globe"></i></span> <span class="text">Website </span></a></p>
        </ul>
        <span class="btn-block">
        {# drupal_region('groupmgt')#}
        {% if logged_in == false %}
          <a href="/user/register" class="btn btn-primary btn-block">Join SpaceBase</a>
        {% elseif group_links.leave %}
          <a href="{{ group_links.leave }}"  class="btn btn-primary btn-block">Leave organization</a>
        {% elseif group_links.join  %}
          <a href="{{ group_links.join }}" class="btn btn-primary btn-block">Join Organization</a>
        {% endif %}
        {% if logged_in %}
        <br/>
        <a href="/recommend" class="btn btn-secondary btn-block">Recommend
Us</a>
        {% endif %}

        </span>
      </div>
      <div class="box">
        {{ drupal_view('group_members', 'block_1') }}
        {% if group_links.group_manage_members %}
          <a href="{{group_links.group_manage_members}}" class="btn btn-secondary btn-small btn-block mt-2"><span class="icon"><i class="fas fa-users"></i></span> Manage Members</a>
        {% endif %}
      </div>
      
    </aside>
    <article{{ attributes.addClass('col-sm-8') }}>
      <div class="box">
        {% if group_links.group_edit %}
          <a href="{{group_links.group_edit}}" class="btn btn-secondary btn-small pull-right"><span class="icon"><i class="fas fa-edit"></i></span> Edit Group</a>
        {% endif %}
        <h2>Description </h2>
        <div class="description">
        {{ content.field_description }}
        </div>

        {% if group_links.group_create_resources %}
          <a href="{{group_links.group_create_resources}}" class="btn
btn-secondary btn-small pull-right"><span class="icon"><i class="fas
fa-edit"></i></span> Add Resource</a>
        {% endif %}
          
        <h3>Organization Resources</h3>


    <div class="resources" role="tabpanel" data-example-id="togglable-tabs">
      <ul id="resourceTab" class="nav nav-tabs nav-tabs-responsive content-tabs" role="tablist">
          
        {% for key, value in resource_type %}
        <li role="presentation"{% if key == 0 %} class="active"{%
endif %}{% if key == 1 %} class="next"{% endif %}>
          <a href="#{{ value }}" id="{{ value }}-tab" role="tab" data-toggle="tab" aria-controls="{{ value }}" aria-expanded="true">
            <span class="text">{{ value }}</span>
          </a>
        </li>
        
        {% endfor %}
      </ul>
      <div id="myTabContent" class="tab-content">
        {% for key, value in resource_type %}
        <div role="tabpanel" class="tab-pane fade{% if value == 'Portals' %} in active{% endif %}" id="{{ value }}" aria-labelledby="{{ value }}-tab">
          
          {{ drupal_view('organization_resources', 'block_1', value) }}
          
        </div>
        {% endfor %}
      </div>
    </div>
          
          
          
        
      </div>
    </article>
  </div>

</div>
