<div{{ attributes }}>
    
    
  
  <div class="row profile">
    <aside class="col-sm-4 pull-right">
      <div class="box">
        
        <div class="profile-photo">
        {{ content.field_image }}
        </div>
        
        
        <h1>{{ label }}</h1>
        <h2 class="segment">
          {{ content.field_industry_segment[0] }}{% for key, value in content.field_industry_segment %}{% if key > 0 %}, {{ content.field_industry_segment[key] }}{% endif %}
          {% endfor %}
        </h2>
        <div class="location">{{ content.field_headquarters_location.0.locality['#value'] }}, {{ content.field_headquarters_location.0.administrative_area['#value'] }}, {{ content.field_headquarters_location.0.country['#value'] }}</div>
        <div>
        </div>
        <a href="#" class="btn btn-primary btn-block">Join to Chat</a>
        
      </div>
      <div class="box">
        {{ drupal_view('group_members', 'block_1') }}
      </div>
      
    </aside>
    <article{{ attributes.addClass('col-sm-8') }}>
      <div class="box">
        <h2>Description</h2>
        <div class="description">
        {{ content.field_description }}
        </div>
 
        {% if content.field_resources[0] %}
          <div class="box">
            <div class="field--label">Resources</div>            
            <table>
              <tr><th>Description</th><th>URL</th></tr>
              {% for key,item in content.field_resources if key|first != '#' %}    
                <tr>
                  <td>{{ item['#title'] }}</td>
                  <td>{{ item['#url'].uri }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% endif %}
       
        <ul class="links">
          
          <li class="link"><a href="{{ content.field_linkedin[0]['#url'] }}" target="_blank"><span class="icon"><i class="fab fa-linkedin"></i></span> <span class="text">{{ content.field_linkedin[0]['#url'] }} </span></a></li>
          
          <li class="link"><a href="{{ content.field_website[0]['#url'] }}" target="_blank"><span class="icon"><i class="fas fa-globe"></i></span> <span class="text">{{ content.field_website[0]['#url'] }} </span></a></li>
        </ul>
        
      </div>
    </article>
  </div>

</div>
