{# New variables (Mike: erase this note if you want...)
 *
 *  Three variables set in preprocess to provide links.
 *  {{ dd(group_links) }}
 *  These are all urls: If the url is there, show the button with that url.
 #}

<div class="container">
    
    
  
  <div class="row profile">
    
    <aside class="col-sm-4 pull-right">
      <div class="box">
//Not sure what all the merge-conflict blocks/designs are without running, so keep all for now,
      //<<<<<<< HEAD
        
        <div class="profile-photo">
        {{ content.field_image }}
        </div>
        
        <h1>{{ label }}</h1>
        <h2 class="segment">
          {{ content.field_industry_segment[0]['#title'] }}{% for key, value in content.field_industry_segment %}{% if key > 0 %}, {{ content.field_industry_segment[key]['#title'] }}{% endif %}
          {% endfor %}
        </h2>
        <div class="location">{{ content.field_headquarters_location.0.locality['#value'] }}, {{ content.field_headquarters_location.0.administrative_area['#value'] }}, {{ content.field_headquarters_location.0.country['#value'] }}</div>
        
        <p>
       <a href="{{ content.field_linkedin[0]['#url'] }}" target="_blank" class="btn btn-blank"><span class="icon"><i class="fab fa-linkedin"></i></span> <span class="text">LinkedIn </span></a> <a href="{{ content.field_website[0]['#url'] }}" target="_blank" class="btn btn-blank"><span class="icon"><i class="fas fa-globe"></i></span> <span class="text">Website </span></a></p>
        </ul>
        <span class="btn-block">
        {# drupal_region('groupmgt')#}
        {% if logged_in == false %}
          <a href="/user/register" class="btn btn-primary btn-block">Join SpaceBase</a>
        {% elseif group_links.leave %}
          <a href="{{ group_links.leave }}"  class="btn btn-primary btn-block">Leave organization</a>
        {% elseif group_links.join  %}
          <a href="{{ group_links.join }}" class="btn btn-primary btn-block">Join Organization</a>
        {% endif %}
        {% if logged_in %}
        <br/>
        <a href="/invite" class="btn btn-secondary btn-block">Invite
New Members</a>
        {% endif %}

        </span>
      </div>
      <div class="box">
        {{ drupal_view('group_members', 'block_1') }}
        {% if group_links.group_manage_members %}
          <a href="{{group_links.group_manage_members}}" class="btn btn-secondary btn-small btn-block mt-2"><span class="icon"><i class="fas fa-users"></i></span> Manage Members</a>
        {% endif %}
//=======
        {{ drupal_view('group_profile', 'block_1') }}
//>>>>>>> forums-ajax-test-zone
      </div>
    </aside>
    
    <article{{ attributes.addClass('col-sm-8') }}>
      <div class="box">
        {% if group_links.group_edit %}
          <a href="{{group_links.group_edit}}" class="btn btn-secondary btn-small pull-right"><span class="icon"><i class="fas fa-edit"></i></span> Edit Group</a>
        {% endif %}
        <h2>Description </h2>
        <div class="description">
        {{ content.field_description }}
        </div>
          
          
      </div>
    </article>
        
  </div>
  <div class="row">
    <div class="col col-sm-12 flex-boxes" id="flexboxes">



      <div class="box">
        {{ drupal_view('group_forum', 'block_3') }}
      </div>



      <div class="box">
          
        <h3><a href="{{group_url}}/resources">External Resources</a> <span class="count">{{resource_total}}</span></h3>
        
        <ul class="resources-overview">
            {% for key, value in resource_type %}
            {% set valueId =  value|replace(' ','_') %}
            
            <li>
              <h4><a href="{{group_url}}/resources#{{ valueId }}">{{ value }}</a>
              </h4>
              <p>Description</p>
            </li>
            
            {% endfor %}
        </ul>
        
        <div class="more-link">
          <a href="{{group_url}}/resources" class="btn btn-block">View All {{resource_total}} Resources</a>
        </div>


    </div>
    
    
    
    <div class="box">
      {% if logged_in %}
      {{ drupal_view('group_members', 'block_1') }}
      {% else %}
      <h3>Members</h3>
      <p><a href="/user/login">Sign in</a> to view the members list</p>
      {% endif %}
    </div>
    
    
    
    {# ----- hide these boxes until they're in use ----- #}
    <div class="hidden">
      
    <div class="box">
      <h3>Blogs</h3>
    </div>
    <div class="box">
      <h3>Events</h3>
    </div>
    <div class="box">
      <h3>Projects</h3>
    </div>
    
    </div>
    {# ----- end hidden ----- #}
    
    
    </div>
  </div>

</div>
